/* This file stylizes the about page of the portfolio */
@import url('general.css');

h3 {
  color: green;
  margin: 7px 0px 1em 0px;
}

p {
  line-height: 1.5em;
  font-size: 1.1em;
}

/* Spells out the width of the image so it doesn't resize */
img {
  max-width: 360px;
  width: 100%;
  height: auto;
}


/* Stylizes the floating of content on screen change */
div.content {
  display: flex;
  flex-wrap: wrap;
}

div.content > div {
  max-width: 360px;
  margin: 7px;
  padding: 12px;
  background-color: white;
  border-radius: 7px;
}

@media (max-width: 1591px) {
  div.content {
    max-width: 1163px;
    justify-content: center;
  }
  nav,footer {
    max-width: 800px;
    margin: auto;
  }
}
@media (max-width: 795px) {
  img {
    margin-top: 10px;
  }
  nav,footer {
    max-width: 400px;
    margin: auto;
  }
}