/* Unsets some pre-set browser configurations */

@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

* {
    margin: unset;
    padding: unset;
  }

/* Centers items on page and sets a background color to grey*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightgrey;
}

/* Defines the look of a footer */
footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    color: rgb(255,255,255);
    padding: 7px 0 7px 0;
    background-color: rgb(0, 162, 255);
    border-radius: 7px;
    margin: 2px 10px 3px 10px;
    border: 2px solid white;
  }

  /* Defines the general look of a navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    background-color: rgb(0, 162, 255);
    margin: 3px 10px 2px 10px;
    border: 2px solid white;
  }
  
  /* Defines the general look of link text */
  nav a, nav div {
    text-decoration: none;
    font-family: 'Tangerine', cursive;
    color: rgb(255, 255, 255);
    padding: 7px 7px 4px 7px;
  }
  
  /* Defines the specific look of the Vladimir link */
  a.main-page {
    color: rgb(245, 241, 45);
    font-size: 48px;
  }
  /* Provides the hover effect to the Vladimir link */
  a.main-page:hover {
    color: rgb(255,255,255);
  }
  
  /* Defines the specific look of the navigation links */
  div.other-pages a {
    font-size: 40px;
  }
  /* Provides the hover effect to the navigation links */
  div.other-pages a:hover {
    color: rgb(245, 241, 45);
    border-radius: 7px;
  }

  @media (max-width: 747px) {
    nav, footer {
      margin: unset;
    }
  }

  @media (max-height: 799px) {
    body {
      height: 100%;
    }
  }