/* This file defines how the main page looks */

@import url('general.css');

/* Centers top and bottom images when present */
div.top-images, div.bottom-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Defines the look of the top and bottom images */
div.top-images img, div.bottom-images img {
  border-radius: 15px;
  margin: 2px;
  border: 2px solid white;
}

/* Defines which images to show at which screen width and height */
@media (max-width: 1868px) {
  img:nth-child(5) {
    display: none;
  }
}
@media (max-width: 1495px) {
  img:nth-child(4), img:nth-child(5) {
    display: none;
  }
}
@media (max-width: 1122px) {
  img:nth-child(3) {
    display: none;
  }
}
@media (max-width: 747px) {
  img:nth-child(2) {
    display: none;
  }
  div.top-images img, div.bottom-images img {
    border-radius: 0px;
  }
}
@media (max-width: 360px) {
  div.top-images img, div.bottom-images img {
    width: 100%;
    height: auto;
  }
}
@media (max-height: 1464px) {
  div.bottom-images {
    display: none;
  }
}