/* The file stylizes contents of the portfoliio contact page */

* {
  margin: unset;
}

h1 {
  color: green;
  padding: 20px;
}

/* Makes label elements bigger and more */
label {
  display: inline-block;
  font-size: 1.1em;
  margin-top: 10px;
  color: green;
}

/* Defines the overall form structure */
form {
  font-size: 1.2em;
  margin: 0px 5px;
}

form > fieldset {
  display: block;
  width: 360px;
  border: none;
}

form > fieldset > legend {
  display: none;
}

/* Modifies input boxes and areas */
input[type="text"],
input[type="email"] {
  font-size: 0.9em;
  padding: 10px;
  width: 95%;
  margin-top: 10px;
}

input[type="button"] {
  font-size: 1em;
  padding: 10px;
  background-color: green;
  color: whitesmoke;
}

input[type="button"]:hover,
input[type="button"]:focus {
  background-color: peru;
}

textarea {
  font-size: 0.9em;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}