/* This file stylizes the portfolio projects page */

@import url('general.css');

* {
  margin: unset;
}

h1 {
  padding: 20px;
  color: green;
}

img {
  border-radius: 7px;
}

div.page {
  max-width: 1420px;
}

div.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Defines general structure of the flex and its items */
.projects-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 7px;
  align-items: center;
  border-bottom: 2px solid peru;
  border-radius: 7px;
  background-color: rgb(255,255,255);
}

div.projects-flex > div > p {
  padding: 15px;
  font-size: 1.1em;
  line-height: 1.5em;
}

/* Defines how the two fields inside the flex will behave */
div.image {
  width: 150px;
  height: 150px;
  margin: 15px 15px 15px 15px;
}
div.image > img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

div.description {
  max-width: 500px;
}

@media (max-width: 1419px) {
  div.page {
    max-width: 700px;
  }
  div.description {
    max-width: 100%;
  }
}